# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: CI

on: [push, pull_request]

jobs:
  build:

    strategy:
      matrix:
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
        # See supported os at https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners
        node-version: [lts/*]
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }} on ${{ matrix.os }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: Install easy-git-annex
      run: npm ci
    - name: Lint the source
      run: npm run lint
    - name: Build
      run: npm run build
    - name: Run automated tests
      run: npm run test:ci
    - name: Generate documentation
      run: npm run typedoc
